<h1>Bill's PhotoGur</h1>
<h2>Pictures<%=@pictures.length%></h2>

<%=link_to "New Pictures", "pictures/new"%>

<%@pictures.each do |pic|%>
<p><%=pic[:title]%>, <%=pic[:artist]%></p>
<%=link_to image_tag(pic.url), "/pictures/#{pic.id}"%>
<%end%>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic aut vel unde assumenda cumque quasi ipsam vitae minima, consequuntur repudiandae facilis deleniti eum modi magnam est fuga numquam libero. Magni.</p>

<h2>Pictures</h2>
<%=@pictures.each do |key|%>
<p><%=key[:title]%>
<%=key[:artist]%>
<img class="pic" src="<%=key[:url]%>"></p>
<%end%>

